
*{
	margin:0;
	padding:0;
}
body{
	list-style: none;
}
video::-webkit-media-controls-enclosure {
        display: none;
    }
.fl{
	float:left;
}
.fr{
	float:right;
}
.clear{
	clear:both;
}
div.content{
	background: -webkit-linear-gradient(top,#06B9D1 0,pink 100%);
	background: -moz-linear-gradient(top,#06B9D1 0,pink 100%);
	background: -o-linear-gradient(top,#06B9D1 0,pink 100%);
	background: linear-gradient(to bottom,#06B9D1 0,pink 100%);
	padding-top:50px;
	padding-bottom: 50px;
	}
div.video{
	text-align: center;
	position:relative;
	width:800px;
	height:450px;
	margin:0 auto;
	overflow: hidden;
}
video{
	width:800px;
	
}

div.video>img{
	position: absolute;
	right:10%;
	bottom:10%;
	width:80px;
	height:60px;
}
div.top{
	width:800px;
	height:30px;
	background:#121212;
	border-radius:10px 10px 0 0;
	margin:0 auto;
	overflow: hidden;
	color:#ddd;
}
div.top>p{
	height:30px;
	line-height: 30px;
	text-align: center;
}
div.cont{
	width:800px;
	height:30px;
	background:#121212;
	border-radius:0 0 10px 10px;
	margin:0 auto;
	overflow: hidden;
	line-height:30px;
	color:#eee;
	font-size:12px;
	font-family: "微软雅黑";
}


div.start{
	width:20px;
	height:20px;
	margin:5px 20px 5px 20px;
	background-size: cover;
}
.needstart{
	background-image:url(../images/start.png);
}
.needpause{
	background-image:url(../images/pause.png);
}

div.voice{
	width:20px;
	height:20px;
	margin:5px 0 5px 60px;
	background-size: cover;
}
.needvoice{
	background-image:url(../images/quiet.png);
}
.needquiet{
	background-image:url(../images/voice.png);
}

div.istloop{
	width:20px;
	height:20px;
	margin:5px 0 5px 20px;
	background-size: cover;
}
.loop{
	background-image:url(../images/loop.png);
}
.noloop{
	background-image:url(../images/noloop.png);
}

div.istfull{
	width:20px;
	height:20px;
	margin:5px 0 5px 20px;
	background-size: cover;
}
.needfull{
	background-image:url(../images/full.png);
}
.needwindow{
	background-image:url(../images/window.png);
}
.sendsay{
	height:30px;
}

div.sendsay{
	width:20px;
	height:20px;
	margin:5px 0 5px 20px;
	background-size: cover;
	background-image:url(../images/mess.png);
}

div.demo{
	width:400px;
	height:30px;
	margin-right: 40px;
	/* overflow: hidden; */
	position:relative;
}

div.line{
	width:400px;
	height: 1px;
	background: #eee;
	margin:14.5px 0 14.5px 0;
}

div.dot{
	height:1px;
	background:#0CB9D1;
	position:absolute;
	top:14.5px;
}

div.dotted{
	height:7px;
	width:7px;
	background: #fff;
	position:absolute;
	top:12px;
	left:-4px;
	border-radius: 3px;
}

.intro{
	width:800px;
	margin:40px auto;
	font-size: 14px;
	color:gray;
}
.int_left{
	width:359px;
	padding-left: 40px;
	border-right: 1px solid #666;
}
.int_right{
	width:360px;
	padding-left: 40px;
}


div.send{
	width:800px;
	height:30px;
	background:#121212;
	margin:0 auto;
	overflow: hidden;
	line-height:30px;
	color:#eee;
	font-size:12px;
	font-family: "微软雅黑";
	display:none;
}
div.send img{
	width:20px;
	height:20px;
	margin:5px 50px 5px 20px;
}
img.btn_close{
	margin-right: 150px;
}
form{
	margin-left:250px;
	width:450px;
}

div.video>p{
	position:absolute;
	left:800px;
	color:#FF0000;
	font-size: 20px;
	font-weight: bold;
	white-space:nowrap; 
}

div.voi_p{
	width:20px;
	height:140px;
	background: #121212;
	z-index: 111;
	position: absolute;
	right:153px;
	bottom:0;
 	display:none; 
}
div.voi_n{
	height:100px;
	width: 1px;
	background: #eee;
	margin:10px 10px;
}

div.voi_t{
	width:1px;
	height:100px;
	background:#0CB9D1;
	position:absolute;
	left:10px;
	bottom:30px;
}

div.voi_d{
	height:4px;
	width:8px;
	background: #fff;
	position:absolute;
	left:7px;
	bottom:130px;
	border-radius: 2px;
}
div.voi_ok{
	color:#EEE;
}

.mar{
	margin-right: 150px;
}
.color1{
	height:18px;
}